<section>
    <h1 class="p-5 mx-auto">Favorites</h1>
    <div class="col">
        {{#each allRecipes as |recipeData|}}
            {{> favorites-details}}
        {{/each}}
    </div>
</section>

<script src="/JS/deleteFavorite.js"></script>