<div class="row">
            <div class="col-7">
                {{#each recipeArray as |recipe|}}
                  {{> recipe}}
                {{/each}}
            </div>
        <div class="col-5">
          <form>
            <h3>Search by Ingredients</h3>
            <div class="form-group">
              <label for="input-ingredient-one">Ingredient One</label>
              <input class="form-control" id="input-ingredient-one" aria-describedby="ingredient-input">
            </div>
            <div class="form-group">
              <label for="input-ingredient-two">Ingredient Two</label>
              <input class="form-control" id="input-ingredient-two" aria-describedby="ingredient-input">
            </div>
            <div class="form-group">
              <label for="input-ingredient-three">Ingredient Three</label>
              <input class="form-control" id="input-ingredient-three" aria-describedby="ingredient-input">
            </div>
            <button type="submit" class="btn btn-primary" id="search-button">Submit</button>
          </form>
        </div>
    </div>
    <script src="/JS/homepage.js"></script>