<h1>Sign Up</h1>
        <form class="needs-validation" novalidate>
          <div class="form-col">
            <div class="col-md-6 mb-3">
              <label for="validationCustom01">Username:</label>
              <input type="text" class="form-control username" id="validationCustom01" value="Mark" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationCustom03">Password:</label>
              <input type="password" class="form-control password" id="validationCustom03" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <button class="btn btn-primary" id="signSubmit" type="submit">Register</button>
          </div>
        </form>  
          <script src="/JS/signup.js"></script>