:root {
    --red: rgb(209, 3, 3);
    --white: #fff;
    --black: #000;
}
.btn {
    width: 200px; height: 88px;
    outline: 0;
    border: 2px solid #ccc;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
    transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
.btn:hover {
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    border-color: var(--red);
}
.btn-like {
    padding: 1.5rem 1.5rem 1.5rem 6rem;
    font-size: 2rem;
    border-radius: 10px;
    background: #fff;
    transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
.btn-like.liked {
    background: var(--red);
    border-color: var(--red);
}
/*-- Button Icon -- */
.btn-icon {
    display: inline-block;
    width: 32px;
    height: 36px;
    position: absolute;
    left: 1.5rem;
    transition: 1s cubic-bezier(.21,.04,.26,.99);
    transform: rotate(0deg)
}
.btn:hover .btn-icon {
    color: var(--red);
}
.btn.liked:hover .btn-icon {
    color: var(--black);
}
.liked .btn--icon-default {
    transform: rotate(-90deg)
}
.btn:not(.liked).btn--icon-liked {
    transform: rotate(-90deg)
}
.liked .btn--icon-default,
.btn--icon-liked {
    opacity: 0;
    color: #fff;
    position: absolute;
}
.btn--icon-default,
.liked .btn--icon-liked {
    opacity: 1;
    left: 1.5rem;
}
/*-- Button Content -- */
.btn-content {
    transition: transform 0.1s ease;
    display: inline-block;
    /* position: absolute;
    right: 0; */
}
.liked .btn-content {
    color: var(--white);
}
.btn:hover.liked .btn-content {
    color: var(--black);
}
.btn:not(.liked) .btn-content--liked {
    transform: translate(110px)
}
.btn:not(.liked) .btn-content--default {
    transform: translate(-56px)
}
.liked .btn-content--default {
    transform: translate(24px)
}

#fullrecipeimg {
    margin: 2%;
    align-items: center;
    max-height: 400px;
    max-width: 600px;
}

#recipeTitle {
    margin: 2%;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.vertical{
    border-left: thin solid black;
    margin-left: auto;
    margin-right: auto
}

#ingredient{
    margin: 4%;
    
}
 
#fullrecipecon {
    margin-left: 6%;
}

#logo {
    max-height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    background-color: #f8a42c;
    margin: 1%;
    border-radius: 5px
}

#homepage {
    margin: 3%; 
}

.ingredients {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-style: bold;
}

h5 {
    font-family: 'Oswald', sans-serif;
}

.steps {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-style: bold; 
}